body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #0E0E0E;
    color: #FFFFFF;
    margin: 0px;
    font-size: 12px;
    text-align: center;
}

#container-title {
    margin: 0 10%;
    display: flex;
    align-items: flex-start;
}

#container-adjust {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10%;
}

#container-adjust * {
    margin: 0 10px;
    display: flex;
}

#paragraph {
    font-size: 23px;
    line-height: 37px;
    letter-spacing: 0px;
    font-weight: 900;
    word-spacing: 2px;
    margin: 0px 25px;
}